.don-pepe {
  background-color: var(--background);
  padding: 40px 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.don-pepe-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  max-height: 620px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 20px;
  flex: 1;
}

.don-pepe-title {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;
}

.don-pepe-text {
  max-width: 1200px;
  margin-bottom: 40px;
}

.don-pepe-text p {
  font-size: 24px;
  line-height: 1.6;
  text-align: left;
}

.don-pepe-content {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}

.don-pepe-image {
  flex: 0 0 50%;
  max-width: 600px;
}

.don-pepe-image img {
  width: 100%;
  border-radius: 8px;
}

.elguche-info {
  flex: 1;
  text-align: right;
}

.elguche-info h3 {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: right;
  margin-top: 130px;
}

.elguche-info p {
  font-size: 24px;
  text-align: right;
  max-width: 600px;
  margin-left: auto;
  margin-top: 10px;
}

@media (max-width: 992px) {
  .don-pepe {
    padding: 20px 0;
    height: 100vh;
    justify-content: flex-start;
  }

  .don-pepe-container {
    padding: 0 20px;
    height: calc(100vh - 60px);
    justify-content: flex-start;
  }

  .don-pepe-title {
    font-size: 24px;
    margin: 0;
    margin-top: 70px;
    margin-bottom: 15px;
    text-align: left;
  }

  .don-pepe-content {
    flex-direction: column;
    gap: 15px;
    margin-bottom: -100px;
  }

  .don-pepe-text {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .don-pepe-text p {
    font-size: 16px;
    line-height: 1.4;
    text-align: left;
    margin: 0;
  }

  .don-pepe-image {
    flex: none;
    width: 100%;
    margin-top: 20px;
  }

  .elguche-info {
    text-align: right;
    margin: 0;
    margin-top: 15px;
  }

  .elguche-info h3 {
    font-size: 24px;
    margin: 10px 0;
    text-align: right;
  }

  .elguche-info p {
    font-size: 16px;
    text-align: right;
    line-height: 1.4;
  }
}
